.cardList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    padding-inline: 3rem;
    gap: 1rem;
    margin-top: 2rem;
}



.card {
    background: #ececec; 
    box-shadow: 1px 2px 10px rgba(0,0,0,0.4);
    text-align: center;
}  

.details, .details:hover {
    width: 100%;
    height: auto;
    padding: 0;
    background: transparent;
    box-shadow: none;
    font-size: 20px;
}

.ceoImg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 1rem;
}

.textSide {
    padding: 1rem;
}


.detailsBtn {
    width: 100%;
    height: 2rem;
    background: #62a58e;
    margin-top: 10px;
    border: 0;
    outline: none;
}


.userDetails {
    max-width: 900px;
    height: 100%;
    display: flex;
    margin: auto;
    margin-block: 3rem;
    background: #000;    
    background: aliceblue;
    box-shadow: 1px 5px 89px rgba(0,0,0,0.6)
}

img.ceo {
    margin: auto;
    width: 100%;
    height: 24rem;
}

.totalDetails {
    width: 100%;
    padding: 1rem;
}

.UserHead {
    text-align: center;
    background: #aba3b3;
    color: #41463b;
}

.loaderContent {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}




/* .ceo {
    margin: auto;
    height: 2rem;
} */


/* Footer Styles */
footer {
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    border-top: 1px solid #444;
    margin-top: 1rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}


.title {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.list {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.socialIcons {
    font-size: 24px;
    display: flex;
}

.copyright {
    text-align: center;
    margin-top: 20px;
    background: black;
    padding: 1rem;
}


.social {
    width: 47px;
}


.backB {
    margin-top: 2rem; 
}



/* Login.css */

.loginContainer {
    max-width: 400px;
    margin: 2rem auto;
    padding: 20px;
    border-radius: 36px;
    box-shadow: 0px 1px 22px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    border: 0;
    background: #f9f9f9;
  }
  
  .title {
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    margin-bottom: 5px;
  }
  
  .input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #85878a;
  }

  
  .backBtn {
    width: 11rem;
    height: 2rem;
    font-size: 1rem;
    background: aquamarine;
    color: ghostwhite;
    font-weight: bold;
    border: 0;
    margin-top: 3rem;
}


.link:hover {
    background: transparent;
}

.auth {
    width: 4rem;
    padding: 0;
    border-radius: 50%;
}


.authentication {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("https://i0.wp.com/gifitup.net/wp-content/uploads/2020/10/BackgroundGif.gif?resize=600%2C337&ssl=1");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.calculateBG {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("https://i.makeagif.com/media/10-25-2021/ZqmrPr.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.aboutM {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: #fff;
    background-image: url("https://cdn.pixabay.com/animation/2023/06/26/03/02/03-02-03-917_512.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.contactM {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("https://38.media.tumblr.com/3521e07cd7405965b19341db5f02782f/tumblr_nt919dYt5s1qa763mo1_500.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.logBG {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("https://cdn.dribbble.com/users/380268/screenshots/1187493/timelapse-2.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


a.btgh {
    background: black;
    width: 100px;
    margin: auto;
    position: absolute;
    bottom: 0px;
}

.backLog {
    font-size: 30px;
    background: #000;
    border: 0;
    color: #fff;
}

.e404 {
    display: flex;
    justify-content: center;
}


.calculation {
    width: 13rem;
}


img.phoneI {
    width: 6rem;
}

